<h1><%= t ".title" %></h1>

<% if user_signed_in? %>
  <%= link_to "New product", new_product_path %>
  <br><br>
<% end %>

<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product_path(product.id) %>
      <div style="display: inline-block; font-size:small;">
        <%= (product.counter&.anonymous_views_count.to_i + product.counter&.user_views_count.to_i) %>
      </div>
      <div style="display: inline-block; font-size:small;">
        <%= l product.updated_at, format: :short%>
      </div>
    </div>
  <% end %>
</div>
